.custom-search {
    margin-left: 400px;
}

.custom-login {
    margin-left: 10px; 
}

/* .container {
    overflow: hidden; 
} */

.text-container {
    float: left; /* Faz com que a div de texto flutue à esquerda */
    width: 60%; /* Define a largura da div de texto */
}

.image-container {
    float: left; /* Faz com que a div de imagem flutue à esquerda */
    width: 40%; /* Define a largura da div de imagem */
}

/* Estilos adicionais conforme necessário */
/* Estilos para a classe .container */

/* Estilos para a classe .container */
gggggggggggggggggggggggggggggg

.menu {
    background-color: #1E90FF;
}

.noticia {
    background-color: white;
}

.historia {
    background-color: 	#E9ECEF;
}

.voluntarios {
    background-color: white;
}

.rod {
    background-color: #002684;
}

.rodape {
    background-color: #1E90FF;
}

.quem {
    background-color: white;

}

.fundo_do_site {
    background-color: #A9D6E5;
}

/* #black {
    background-color: black;
} */



/* AZULLLLL

#CAE5F1
#002684
#00A0DF
#FFFFFF */



/* body {
    background-color: #54cbfc;
} */

/* .Document {
    margin-top: 20%;
    margin-left: 50px;
} */

.carta {
    margin-left: 20%;
    margin-top: 15%;
    background-color:#54cbfc;
}

/* .card-body {
    background-color:#54cbfc;
} */

/* .link {
    margin-left: 30%;
    text-decoration: none;
} */