.custom-search {
    margin-left: 400px;
}

.custom-login {
    margin-left: 10px; 
}

/* .container {
    overflow: hidden; 
} */

.text-container {
    float: left; /* Faz com que a div de texto flutue à esquerda */
    width: 60%; /* Define a largura da div de texto */
}

.image-container {
    float: left; /* Faz com que a div de imagem flutue à esquerda */
    width: 40%; /* Define a largura da div de imagem */
}

/* Estilos adicionais conforme necessário */



.bd {
    background-color: #1e90ff;
}

.docs {
    background-color: #1e90ff;
    margin-top: 10%;
    margin-left: 25%;
}

.card {
    margin-left: 20%;
    margin-top: 15%;
    background-color:#54cbfc;
}

.card-body {
    background-color:#54cbfc;
}

.link {
    margin-left: 5%;
    text-decoration: none;
}